
<form ng-submit="Ctrl.authenticate(user,password)" class="login_form" name="frm">
	<h1>
		Admin Login
	</h1>


	<input 
        type="email" 
        placeholder="Email" 
        ng-model="user"
        name="user"
        required/>
    <span ng-messages="frm.user.$dirty && frm.user.$error" ng-messages-multiple>
        <span ng-message="required">Your email is required.</span>
        <span ng-message="email">Enter a proper email</span></span>
    <br>
	<input 
        type="password"
        placeholder="Password"
        name="password" 
        ng-model="password"
        required/>
    <span ng-messages="frm.password.$dirty && frm.password.$error"><span ng-message="required">You must enter your password.</span></span>
        
    <br>
	<button>Login</button>
	<button ng-click="Ctrl.close()">close</button>
</form>

